<div>
    <div class="page-header">
        <h1 id="Projects" class="anchor-fix">Projects</h1>
    </div>
    {{#each projects}}
    <h3 id="Projects-{{this.title}}" class="anchor-fix">{{this.title}}</h3>
    <p>Website: <a href="Projects/{{this.url}}">Link</a></p>
    <p>Description: {{this.description}}</p>
    <p>Technology: {{this.categoryTitle}}</p>
    <p>&nbsp;</p>
    {{/each}}
    <p>&nbsp;</p>
</div>
