<div>
    <div class="page-header">
        <h1 id="Resume" class="anchor-fix">Resume</h1>
    </div>
</div>
<div>
    <div class="page-header">
        <h2 id="Skills" class="anchor-fix">Proficiency</h2>
    </div>
    <p class="anchor-fix" id="Skills-Specialization">
        <span class="lead">Specialization</span>
    <ul>
        <li>End to End Architecture and Development</li>
        <li>Framework / API design</li>
        <li>Dynamic user controls</li>
        <li>Dynamic content rendering</li>
        <li>Application optimization</li>
    </ul>
    </p>
    <p class="anchor-fix" id="Skills-Certifications">
        <span class="lead">Certifications</span>
    <ul>
        <li>SHL: Javascript 1.8 top 6%</li>
        <li>BrainBench: C# top 10%</li>
        <li>BrainBench: ASP.NET top 8%</li>
        <li>Novell: Building Web Service Applications</li>
    </ul>
    </p>
    <p class="anchor-fix" id="Skills-Technology">
        <span class="lead">Software Technologies</span>
    <ul>
        <li>{{years 2000}} years professional experience using Object Oriented Programming [OOP] Languages</li>
        <li>{{years 2000}} years professional experience designing Graphical User Interface [GUI] applications</li>
        <li>{{years 2000}} years Enterprise Web Application Development</li>
        <li>{{years 2004}} years C# Asp.net Development</li>
        <li>{{years 2005}} years Ajax/Dynamic Html Web Application Development</li>
    </ul>
    </p>
    <div>
        <p class="anchor-fix" id="Skills-Languages">
        <div class="lead">Languages</div>
        <div class="row-fluid">
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Highly Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>JavaScript / Node.JS</td></tr>
                    <tr><td>CoffeeScript</td></tr>
                    <tr><td>C#</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Visual Basic</td></tr>
                    <tr><td>TypeScript</td></tr>
                    <tr><td>PHP</td></tr>
                    <tr><td>Ruby on Rails</td></tr>
                    <tr><td>Delphi</td></tr>
                    <tr><td>Perl</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Somewhat Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>VBScript (ASP)</td></tr>
                    <tr><td>ColdFusion</td></tr>
                    <tr><td>Flash</td></tr>
                    <tr><td>ActionScript</td></tr>
                    <tr><td>Java</td></tr>
                    <tr><td>Python</td></tr>
                    <tr><td>Go</td></tr>
                    <tr><td>C++</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>

    <div class="clearfix">
        <p class="anchor-fix" id="Skills-Frameworks">
        <div class="lead">Frameworks</div>
        <div class="row-fluid">
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Highly Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>AngularJS</td></tr>
                    <tr><td>ASP.Net (MVC, Web API)</td></tr>
                    <tr><td>JQuery</td></tr>
                    <tr><td>Bootstrap</td></tr>
                    <tr><td>Backbone</td></tr>
                    <tr><td>XLI</td></tr>
                    <tr><td>XLI-NG</td></tr>
                    <tr><td>Knockout</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Knockback</td></tr>
                    <tr><td>Durandal</td></tr>
                    <tr><td>Entity Framework</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Somewhat Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Prototype</td></tr>
                    <tr><td>Novell Extend</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>

    <div class="clearfix">
        <p class="anchor-fix" id="Skills-Libraries">
        <div class="lead">Libraries</div>
        <div class="row-fluid">
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Highly Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Socket.io</td></tr>
                    <tr><td>Express</td></tr>
                    <tr><td>Gulp</td></tr>
                    <tr><td>Grunt</td></tr>
                    <tr><td>Handlebars</td></tr>
                    <tr><td>AjaxControlToolkit</td></tr>
                    <tr><td>LinQ</td></tr>
                    <tr><td>SignalR</td></tr>
                    <tr><td>Ajax.net</td></tr>
                    <tr><td>Node-webkit</td></tr>
                    <tr><td>Undercore / lodash</td></tr>
                    <tr><td>Q</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>RequireJS</td></tr>
                    <tr><td>jQueryUI</td></tr>
                    <tr><td>Aspose Words</td></tr>
                    <tr><td>TXTextControl.Net</td></tr>
                    <tr><td>AntiXss</td></tr>
                    <tr><td>OIOSAML.Net</td></tr>
                    <tr><td>AjaxUploader</td></tr>
                    <tr><td>Polo</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Somewhat Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>DocuSign</td></tr>
                    <tr><td>SharpZipLib</td></tr>
                    <tr><td>Aspose BarCode</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>

    <div class="clearfix">
        <p class="anchor-fix" id="Skills-Testing">
        <div class="lead">Unit Testing</div>
        <div class="row-fluid">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                    <tr><td>Jasmine</td></tr>
                    <tr><td>Karma</td></tr>
                    <tr><td>Protractor</td></tr>
                    <tr><td>NUnit</td></tr>
                    <tr><td>Visual Studio</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>
    <div class="clearfix">
        <p class="anchor-fix" id="Skills-Databases">
        <div class="lead">Databases</div>
        <div class="row-fluid">
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Highly Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Microsoft SQL Server</td></tr>
                    <tr><td>NEDB</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Mongo</td></tr>
                    <tr><td>Oracle</td></tr>
                    <tr><td>MySQL</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Somewhat Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Sybase SQL</td></tr>
                    <tr><td>Access</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>
    <div class="clearfix">
        <p class="anchor-fix" id="Skills-OS">
        <div class="lead">Operating Systems</div>
        <div class="row-fluid">
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Highly Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Microsoft Windows</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Mac OSX</td></tr>
                    <tr><td>Linux</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Somewhat Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>BSD</td></tr>
                    <tr><td>Unix</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>
    <div class="clearfix">
        <p class="anchor-fix" id="Skills-Repositories">
        <div class="lead">Repositories</div>
        <div class="row-fluid">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Highly Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Git</td></tr>
                    <tr><td>Subversion (SVN)</td></tr>
                    <tr><td>Nuget</td></tr>
                    <tr><td>Bower</td></tr>
                    <tr><td>Npm</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Visual SourceSafe (VSS)</td></tr>
                    </tbody>
                </table>
            </div>

        </div>
        </p>
    </div>
    <div class="clearfix">
        <p class="anchor-fix" id="Skills-Software">
        <div class="lead">Software</div>
        <div class="row-fluid">
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Highly Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Visual Studio</td></tr>
                    <tr><td>WebStorm</td></tr>
                    <tr><td>Sublime Text 3</td></tr>
                    <tr><td>Office</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Eclipse / Aptana</td></tr>
                    <tr><td>CodeGear RAD Studio</td></tr>
                    <tr><td>Enterprise Manager</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                    <tr><th>Somewhat Proficient</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>Novell Extend Composer</td></tr>
                    <tr><td>Dreamweaver</td></tr>
                    <tr><td>Authorware</td></tr>
                    <tr><td>Flash</td></tr>
                    <tr><td>InterShop</td></tr>
                    <tr><td>Photoshop</td></tr>
                    <tr><td>GIMP</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>
</div>

<div>
    <div class="page-header">
        <h2 id="Employment" class="anchor-fix">Current Employment</h2>
    </div>
    <p class="pull-right"><a href="http://www.compasslearning.com" target="_blank"><img src="/images/cl.jpg" alt="compasslearning" class="img-rounded" /></a></p>
    <h3 class="anchor-fix">CompassLearning</h3>
    <p>Employed: 2015-present</p>
    <p>Website: <a href="http://www.compasslearning.com" target="_blank">www.compasslearning.com</a></p>
    <p>Position: Consultant</p>
    <p>Industry: Education Technology</p>
    <p>Technology: Angular, Javascript, CSS, Sass, jQuery, Node.JS, C#, DLAP, xli-ng</p>
</div>
<div>
    <div class="page-header">
        <h2 id="PastEmployment" class="anchor-fix">Past Employment</h2>
    </div>

    <p class="pull-right"><a href="http://www.agilix.com" target="_blank"><img src="/images/agilix.jpg" alt="agilix" class="img-rounded" /></a></p>
    <h3 class="anchor-fix">Agilix</h3>
    <p>Employed: 2014-2015</p>
    <p>Website: <a href="http://www.agilix.com" target="_blank">www.agilix.com</a></p>
    <p>Position: Lead UI Developer</p>
    <p>Industry: Education Technology</p>
    <p>Technology: Coffeescript, Angular, Javascript, CSS, Mongo, Java, jQuery, Node.JS, C#, DLAP, Backbone</p>
    <p>Personal Successes:</p>
    <ul>
        <li>Designed and developed a destributed online/offline application for high stakes assessments using MEAN stack for multi-platform mobile, desktop & browser environments.</li>
        <li>Added accessibility support to xli-ng framework.</li>
        <li>Assisted on core xli-ng development.</li>
        <li>Designed C# interface middleware to allow 3rd party clients to consume partial applications</li>
        <li>Maintained and improved existing enterprise client Backbone/XLI.JS/DLAP UI applicaiton</li>
    </ul>
    <p>&nbsp;</p>

    <p class="pull-right"><a href="http://www.ecteon.com" target="_blank"><img src="/images/ecteon.jpg" alt="Ecteon" class="img-rounded" /></a></p>
    <h3 class="anchor-fix" id="PastEmployment-1">Ecteon</h3>
    <p>Employed: 2007-2014</p>
    <p>Website: <a href="http://www.ecteon.com" target="_blank">www.ecteon.com</a></p>
    <p>Position: Senior Programmer</p>
    <p>Product: Contraxx</p>
    <p>Industry: Contract Management</p>
    <p>Technology: Visual Studio, ASP.NET, C#, VB.NET, AJAX.NET, Javascript, jQuery, jQueryUI, KnockoutJS, CSS, Sql Server, Oracle, Delphi</p>
    <p>Personal Successes:</p>
    <ul>
        <li>Implemented strict security policies surpassing Owasp/HIPAA/HITECH</li>
        <li>Maintained high level of cross-browser compatibility including legacy support</li>
        <li>Added Single Sign On support</li>
        <li>Created comprehensive webservices for customer and ajax consumption</li>
        <li>Created a custom serializable data layer for scalability and uniformity</li>
        <li>Created a web application with functionality mirroring and expanding on the win32 client using Ajax technologies</li>
        <li>Created event driven modular external libraries for easily adding client-specific code libraries in C# or VB</li>
        <li>Separated data, business and view logic</li>
        <li>Created common use libraries</li>
        <li>Added namespacing</li>
        <li>Ported existing Delphi codebase to C# ASP.net</li>
    </ul>
    <p>&nbsp;</p>

    <p class="pull-right"><a href="http://www.emdeon.com" target="_blank"><img src="/images/emdeon.jpg" alt="Emdeon" class="img-rounded" /></a></p>
    <h3 id="PastEmployment-2" class="anchor-fix">Emdeon</h3>
    <p>Employed: 2004-2007</p>
    <p>Website: <a href="http://www.emdeon.com" target="_blank">www.emdeon.com</a></p>
    <p>Position: Supervisor (previously Web Developer II)</p>
    <p>Products: 24/7 Client Support Tool, Online Enrollment, NOAH CRM, WIRE<p>
    <p>Industry: Healthcare</p>
    <p>Technology: Visual Studio, ASP.NET, ASP, C#, Javascript, Prototype, CSS, Sql Server, Oracle, Siebel, Flash, Ruby on Rails, ColdFusion, Dreamweaver</p>
    <p>&nbsp;</p>

    <p class="pull-right"><a href="http://duthielearning.wordpress.com/" target="_blank"><img src="/images/duthie.jpg" alt="Duthie & Associates" class="img-rounded" /></a></p>
    <h3 id="PastEmployment-3" class="anchor-fix">Duthie Learning</h3>
    <p>Employed: 2000-2004</p>
    <p>Industries: eLearning, eCommerce</p>
    <p>Technology: PHP, Perl, InterShop, Sybase, Access, Authorware, Flash</p>
    <p>&nbsp;</p>
</div>
