<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mike Allison - {{title}}</title>
    <meta name="description" content="{{description}}" />
    <link rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.min.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='/style/site.css' />
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css' />
    {{{block "head"}}}
    <!--<script src='/bower_components/modernizr/modernizr.js' ></script>-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
<div class="navbar-fixed">
    <nav class="" role="navigation">
        <div class="nav-wrapper">
            <ul class="left">
                <li><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></li>
                <li><a id="logo-container" href="/" class="brand-logo">Mike Allison</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://github.com/mike-allison" target="_blank" class="waves-effect" title="github"><i class="fa fa-2x fa-github-square"></i></a></li>
                <li><a href="http://www.linkedin.com/profile/view?id=31355332" target="_blank" class="waves-effect" title="linked-in"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
                <li><a href="http://twitter.com/mikeallison" target="_blank" class="waves-effect" title="twitter"><i class="fa fa-2x fa-twitter-square"></i></a></li>
                <li><a href="https://google.com/+MikeAllisonOnline" target="_blank" class="waves-effect" title="google +"><i class="fa fa-2x fa-google-plus-square"></i></a></li>
                <li><a href="http://www.facebook.com/dj.mikeallison" target="_blank" class="waves-effect" title="facebook"><i class="fa fa-2x fa-facebook-square"></i></a></li>
                <li><a href="mailto:dj.mikeallison@gmail.com" target="_blank" class="waves-effect" title="email"><i class="fa fa-2x fa-envelope"></i></a></li>
            </ul>
        </div>
    </nav>
    {{> sidebar}}
</div>
</header>
<main>
    {{{block "templates"}}}
    {{{body}}}
</main>
<footer class="page-footer">
    <div class="left">&copy; Mike Allison {{year}}</div>
    <div class="right hide-on-med-and-down">Powered by Node.JS on <a href="https://www.digitalocean.com/?refcode=5055d4df6a13" target="_blank">DigitalOcean</a> </div>
</footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
{{{block "scripts"}}}
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible();
        $('select').material_select();
    });
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45562007-1', 'mikeallisononline.com');
    ga('send', 'pageview');
</script>
</body>
</html>
