{{!< layout}}
<div class="container" id="Projects">
    <div class="card">
        <div class="card-title">
            {{project.title}}
        </div>
        <div class="card-content">
            <h5>{{project.title}}</h5>
            <hr>
            <p>{{project.description}}</p>
            <p>{{project.extDescription}}</p>
            <h5>Repository</h5>
            <hr>
            <p><a href="{{project.repository}}" target="_blank">GitHub</a></p>
            <h5>License</h5>
            <hr>
            <p><a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
            {{{body}}}
        </div>
    </div>
</div>