{{!< layout}}
<p class="lead">{{project.title}}</p>
<p>{{project.description}}</p>

<p>{{project.extDescription}}</p>

<p class="lead">Repository</p>
<p><a href="{{project.repository}}" target="_blank">GitHub</a></p>

<p class="lead">License</p>
<p><a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a></p>

{{{body}}}
